<a href="https://colab.research.google.com/github/adjifatouuu/machine-learning-zoomcamp/blob/homeworks/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

#Q1. Pandas version

In [2]:
pd.__version__

'2.2.2'

In [3]:
!wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv

--2025-10-01 18:46:08--  https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 874188 (854K) [text/plain]
Saving to: ‘car_fuel_efficiency.csv’

car_fuel_efficiency 100%[===================>] 853.70K  --.-KB/s    in 0.02s

2025-10-01 18:46:08 (44.6 MB/s) - ‘car_fuel_efficiency.csv’ saved [874188/874188]

In [4]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [11]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

#Q2. Records count

In [10]:
df.shape

(9704, 11)

#Q3. Fuel types

In [15]:
df['fuel_type'].unique()

array(['Gasoline', 'Diesel'], dtype=object)

#Q4. Missing values

In [18]:
df.isna().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

# Question 5. Max fuel efficiency

In [22]:
df[df["origin"]== "Asia"]['fuel_efficiency_mpg'].max()

23.759122836520497

#Q6. Median value of horsepower

In [25]:
hoserpower_median = df['horsepower'].median()
hoserpower_median

149.0

In [34]:
hoserpower_mode = df['horsepower'].mode()[0]
hoserpower_mode

np.float64(152.0)

In [35]:
df['horsepower'].fillna(hoserpower_mode, inplace=True)

/tmp/ipython-input-2500011854.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(hoserpower_mode, inplace=True)

In [36]:
new_hoserpower_median = df['horsepower'].median()
new_hoserpower_median

152.0

#Q7. Sum of weights

In [45]:
cars_from_asia = df[df['origin']=="Asia"][['vehicle_weight','model_year']]

In [46]:
cars_from_asia.head(7)

    vehicle_weight  model_year
8      2714.219310        2016
12     2783.868974        2010
14     3582.687368        2007
20     2231.808142        2011
21     2659.431451        2016
34     2844.227534        2014
38     3761.994038        2019

In [52]:
import numpy as np

In [59]:
from numpy import linalg

Access the underlying NumPy array of the `cars_from_asia` DataFrame and store it in a variable named `X`.

In [49]:
X = cars_from_asia.values
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       ...,
       [2545.07013932, 2012.        ],
       [3107.42781965, 2005.        ],
       [2908.04347736, 2005.        ]])

In [66]:
X.shape

(3247, 2)

Compute the transpose of X and then perform matrix multiplication of the transpose of X and X.

In [57]:
X_transpose = X.T
XTX = X_transpose @ X

In [67]:
X_transpose.shape

(2, 3247)

In [58]:
XTX

array([[3.01651358e+10, 1.96349896e+10],
       [1.96349896e+10, 1.31377985e+10]])

In [68]:
XTX.shape

(2, 2)

Compute the inverse of the resulting matrix, `XTX`.

In [60]:
XTX_inv = linalg.inv(XTX)
XTX_inv

array([[ 1.21977675e-09, -1.82300740e-09],
       [-1.82300740e-09,  2.80067709e-09]])

In [69]:
XTX_inv.shape

(2, 2)

Create the NumPy array `y` with the specified values.

In [95]:
y = np.array(([1100, 1300, 800, 900, 1000, 1100, 1200]))

In [96]:
y.shape

(7,)

Multiply the inverse of XTX with the transpose of X, and then multiply the result by y.

In [83]:
k = linalg.inv(X.T @ X) @ X.T
k.shape

(2, 3247)

In [85]:
k

array([[-3.64441297e-07, -2.68546211e-07,  7.11302917e-07, ...,
        -5.63473493e-07,  1.35238384e-07, -1.07966002e-07],
       [ 6.98123134e-07,  5.54347218e-07, -9.10306654e-07, ...,
         9.95280615e-07, -4.95063361e-08,  3.13972795e-07]])

In [86]:
XTX_inv @ X_transpose

array([[-3.64441297e-07, -2.68546211e-07,  7.11302917e-07, ...,
        -5.63473493e-07,  1.35238384e-07, -1.07966002e-07],
       [ 6.98123134e-07,  5.54347218e-07, -9.10306654e-07, ...,
         9.95280615e-07, -4.95063361e-08,  3.13972795e-07]])

Calculate the sum of all elements in the NumPy array `w` using the `.sum()` method

In [102]:
w = k.sum()
w

np.float64(0.0004970656993241527)